body{
    margin: 0;
    padding: 0;
    background-image: url(https://c.pxhere.com/photos/7e/e2/star_milky_way_background_night_starry_sky_night_sky_space_texture-674008.jpg!d);
    background-size: cover;

    font-family: 'Creepster', cursive;
}

a{
    text-decoration: none;
    color: #63cbfb;
    transition: color .8s;
    font-size: 20px;
}

a:hover{
    color:  #97CE4C;
}

.div-name-api{
    display: flex;
    justify-content: center;
}

.right-panel h1,h5{
    margin-left: 30px;
    color: #63cbfb;
    -webkit-text-stroke: .1px rgb(236, 243, 134) ;
    text-shadow: 3px 3px 20px rgb(109, 219, 81) ;
}

.right-panel h1 {
    font-size: 50px;
    
}

.right-panel h5 {
    font-size: 30px;
}
.div-panels-api{
    
   display: flex; 
 justify-content: center;
}


.episodios-individuales{
    display: flex;
  margin-left: 13px;
  margin-top: 7px;
}
.container-personajes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.tarjeta{
    margin: 5px 20px;
}